<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О проекте</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body style="background-image: url({{ url_for('static', filename='img/tile.jpg') }});">
<div class="block">
    <h1>О проекте</h1>
    <p>Backend: python (flask + sqlalchemy)</p>
    <p>DBMS (Database Management System): PostgreSQL</p>
    <p>Frontend: HTML (jinja) + CSS + JavaScript</p>
</div>
</body>
</html>