<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Результаты поиска</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body style="background-image: url({{ url_for('static', filename='img/tile.jpg') }});">
<div class="block">
    <h1>Результаты поиска</h1>
    <div class="container">
        <table class="table_dark">
            <tr>
                <th>№</th>
                <th>№ содержания контракта</th>
                <th>№ клиента</th>
                <th>№ сотрудника</th>
            </tr>
            {% for contract in contracts %}
            <tr onclick="window.location='/contracts/{{contract.id}}';">
                <td>{{contract.id}}</td>
                <td>{{contract.contract_consist_id}}</td>
                <td>{{contract.client_id}}</td>
                <td>{{contract.employee_id}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>