<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body style="background-image: url({{ url_for('static', filename='img/tile.jpg') }});">
<div class="block">
    <h1>Завершённые заказы</h1>
    <div class="search">
        <form action="{{ url_for('managers_bp.search_orders_compl', id=id) }}" method="get" novalidate>
            <legend>Поиск</legend>
            <label for="client_name">ФИО клиента:</label>
            <input type="text" name="client_name">

            <label for="product_name">Наименование товара:</label>
            <input type="text" name="product_name">

            <label for="driver_name">ФИО водителя:</label>
            <input type="text" name="driver_name">

            <label for="delivery_address">Адрес доставки:</label>
            <input type="text" name="delivery_address">

            <label for="product_volume">Объём заказа:</label>
            <input type="text" name="product_volume">

            <label for="order_amount">Сумма:</label>
            <input type="text" name="order_amount">

            <button type="submit">Найти</button>
        </form>
    </div>
    <div class="container">
        <table class="table_dark">
            <tr>
                <th>№ заказа</th>
                <th>ФИО клиента</th>
                <th>ФИО водителя</th>
                <th>Адрес доставки</th>
                <th>Товар</th>
                <th>Сумма</th>
                <th>Объём</th>
                <th>Склад</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.client_name}}</td>
                <td>{{order.driver_name}}</td>
                <td>{{order.deliver_address}}</td>
                <td>{{order.product_name}}</td>
                <td>{{order.order_amount}}</td>
                <td>{{order.product_volume}}</td>
                <td>{{order.warehouse_address}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>